h1 {
    font-family: Calibri, sans-serif;
    font-size: x-large;
    color: darkblue;
    margin: auto;
}

p {
    font-family: Calibri, sans-serif;
    font-size: medium;
    color: darkblue;
    margin: auto;
}